{% extends "index.html" %}

{% block content %}

<main>
    <h2>Statement: {{ data.claim }}</h2>
    <br>
    <h3>Speaker: {{ data.speaker }}</h3>
    <br>
    <h4 id="statement_id" style="visibility: hidden;">{{ i }}</h4>
    <button class="button" onclick="checkGuessTrue({{ i }})">True</button>
    <button class="button" onclick="checkGuessFalse({{ i }})">False</button>
    <br>
    <button class="button"><a href="{{ url_for('single') }}">SKIP Q</a></button>
    <br>
    <div id="answerdiv"></div>
    <br>
    <br>
    <button class="button" id="sourcebutton" style="visibility: visible" onclick="showSource({{ i }})">Show source</button>
    <ul id="sourcelist">
    </ul>
</main>

{% endblock %}